# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/scut_mmo/ScutMMO/ScutMMO/Log/
/scut_mmo/ScutMMO/ScutMMO/obj/
/scut_mmo/ScutMMO/ScutMMO/temp/
/scut_mmo/ScutMMO/ScutMMO/ScriptRuntimeDomain/
/scut_mmo/ScutMMO/ScutMMO/Script/CsScript/ProtoBuf/Common/.svn/
/scut_mmo/ScutMMO/ScutMMO/Script/CsScript/ProtoBuf/ProtoBuffer/.svn/
/scut_mmo/ScutMMO/ScutMMO/Scut/Source/Framework/ZyGames.Framework/obj/
/scut_mmo/ScutMMO/ScutMMO/Scut/Source/Framework/ZyGames.Framework.Common/obj/
/scut_mmo/ScutMMO/ScutMMO/Scut/Source/Middleware/AccountServer/obj/
/scut_mmo/ScutMMO/ScutMMO/Scut/Source/Middleware/ZyGames.Framework.Game/obj/
